<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Zoo</title>
  <style>.field{width: 180px;}</style>
</head>
<body>
  <h1>Add Zoo</h1>
  <form method="POST">
    <label>Name</label>
    <input name="name" class="field"><br><br>
    <label>Address</label>
    <input name="address" class="field"><br><br>
    <label>Phone</label>
    <input name="phone" type="text" class="field"><br><br>
    <label>Email</label>
    <input name="email" type="text" class="field"><br><br>
    <input type="submit" value="Send">
  </form>
  <a href="/">Back to</a>
</body>
</html>