<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add cage</title>
  <style>.field{width: 180px;}</style>
</head>
<body>
  <h1>Add cage</h1>
  <form method="POST">
    <label>Size</label>
    <input name="size" class="field"><br><br>
    <label>Animal</label>
    <input name="idAnimal" type="number" class="field"><br><br>
    <label>Zoo</label>
    <input name="idZoo" type="number" class="field"><br><br>
    <input type="submit" value="Send">
  </form>
  <a href="/indexCage">Back to</a>
</body>
</html>