<!DOCTYPE html>
<html lang="en">
<head>
  <title>ZOOS</title>
</head>
<body>
  <h3>Choose list zoos or animals</h3>
  <p><a href="/indexZoo">List zoos</a> </p>
  <p><a href="/indexAnimal">List animals</a> </p>
  <p><a href="/indexCage">List cages</a> </p>
</body>
</html>